{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1 class="mt-5">We help you get <strong style="color: #2fc06a">PAID</strong></h1>
        <p> From the moment you sign up, you have access to an enterprise level all-in-one premier platform! An
            eCommerce store integrated with discounted payments and shipping and all the tools you need to grow your
            business.</p>
    </main>
{% endblock %}
